.post-block{
    width: 100%;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    color: bisque;
}

.post-block__field{
    width: 70%;
    margin: 2px 2px 2px 2px ;
    padding: 2px;

    border-left-style: double;
    border-left-width: medium;
    border-bottom-style: double;
    border-bottom-width: medium;
    border-top-right-radius: 10%;

    display: flex;
    justify-content: left;
    align-items: self-start;
    flex-direction: row;

    background: #667766;

    font-size: 18px;

}